*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-snap-type: y mandatory;
}
section{
	scroll-snap-align: start;
	height: 100vh;
	height: 100svh;
	width: 100%;
}
section:nth-child(even){
	background: black;
}
section:nth-child(odd){
	background: blue;
}